Question 1:
Assuming that we have some email addresses in the "username@companyname.com" format, please write program to print the company name of a given email address. Both user names and company names are composed of letters only. 

Input Format: The first line of the input contains an email address. 

Output Format: Print the company name in single line. 

Example; Input: john@google.com 

Output: google

In [86]:
a=input("Enter the email address: ")

g=a.count("@") # counts how many @ are present in the entered email id
b=a.find("@") # locate where the first @ exist in the entered email id
f=a[b+1:]     # identify the entire text till last character after first @ symbol
m=f.count(".")  # counts how many 'dots' in the email after first @
c=f.find(".")     # locate the positon of first 'dot' following first @
d=f[:c]       # identify the text between first @ and first 'dot'; it is the COMPANY NAME

if g==1 and m<=2: # checks if more than one @ and more than two dots present
  if d.isalpha() or d.isdigit(): # checks if the COMPANY NAME has alpha and numeric only
    print("The company name is : ",d) # print the COMPANY NAME
  else:
    print("The company name: ",d," is incorrect")
else:
  print("The email: ",d," is invalid")

Enter the email address: john@google.com
The company name is :  google

Question 2:
Write a program that accepts a comma-separated sequence of words as input and prints the words in a comma separated sequence after sorting them alphabetically. 

Input Format: The first line of input contains words separated by the comma.

Output Format: Print the sorted words separated by the comma. 

Example: Input: without,hello,bag,world 

Output: bag,hello,without,world

In [131]:
seqnce =input("Input words with comma after every word, no space allowed")
seprt = [word for word in seqnce.split(",")]
c=(",".join(sorted(list(set(seprt)))))
print("The sorted list is: ",c)

Input words with comma after every word, no space allowedbag,apple,dog,cat,parrot
The sorted list is:  apple,bag,cat,dog,parrot

Question 3:
Create your own Jupyter Notebook for Sets. Reference link: https://wwww3schools.com/python/python_sets.asp

Printing the elements of a set

In [87]:
fruitset = {"mango","apple","guava","pineapple","pomogranate"}

for elem in fruitset:
  print(elem)

apple
mango
pineapple
pomogranate
guava

Finding if "apple" present in the set

In [89]:
fruitset = {"mango","apple","guava","pineapple","pomogranate"}

print("apple" in fruitset)

True

Add an item to a set, using the add() method:

In [90]:
fruitset = {"mango","apple","guava","pineapple","pomogranate"}
fruitset.add("jackfruit")

print(fruitset)

{'apple', 'mango', 'pineapple', 'jackfruit', 'pomogranate', 'guava'}

Add multiple items to a set, using the update() method

In [98]:
fruitset = {"mango","apple","guava","pineapple","pomogranate"}
fruitset.update(["jackfruit","banana","orange"])

print(fruitset)

{'apple', 'mango', 'banana', 'pineapple', 'orange', 'jackfruit', 'pomogranate', 'guava'}

Get the number of items in a set:

In [93]:
print(len(fruitset))

8

Remove "mango" by using the remove() method:

In [94]:
fruitset.remove("mango")
print(fruitset)

{'apple', 'banana', 'pineapple', 'orange', 'jackfruit', 'pomogranate', 'guava'}

Remove "apple" by using the discard() method:

In [95]:
fruitset.discard("apple")
print(fruitset)

{'banana', 'pineapple', 'orange', 'jackfruit', 'pomogranate', 'guava'}

Remove the last item by using the pop() method: Caution!!: the sets are unordered so you will not know what item that gets removed.

In [96]:
x = fruitset.pop()

print(x)

print(fruitset)

banana
{'pineapple', 'orange', 'jackfruit', 'pomogranate', 'guava'}

The clear() method empties the set:

In [97]:
fruitset.clear()
print(fruitset)

set()

The del keyword will delete the set completely:

In [104]:
fruitset = {"mango","apple","guava","pineapple","pomogranate"}

In [105]:
del fruitset
print(fruitset)
#this will raise an error because the set no longer exists

NameError: ignored

The union() method join two sets in to a new set with all items from both sets:

In [107]:
setA = {"x", "y" ,"z"}
setB = {100,200,300}

setNew = setA.union(setB)
print(setNew)

{100, 'x', 'z', 300, 'y', 200}

The update() method inserts the items from one set another

In [109]:
setA = {"x", "y" ,"c"}
setB = {100,200,"c"}

setA.update(setB)
print(setA)

{100, 'x', 'c', 'y', 200}

Copy a set:

In [111]:
fruitset = {"apple", "banana", "cherry"}

x = fruitset.copy()

print(x)

{'apple', 'cherry', 'banana'}

Return a set that contains the items that only exist in set x, and not in set y:

In [112]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

z = x.difference(y)

print(z)

{'banana', 'cherry'}

Return a set that contains the items that only exist in set y, and not in set x

In [113]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

w = y.difference(x)

print(w)

{'guava', 'mango'}

Remove the items that exist in both sets:

In [114]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

x.difference_update(y)

print(x)

{'cherry', 'banana'}

In [115]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

y.difference_update(x)

print(y)

{'guava', 'mango'}

Return a set that contains the items that exist in both set x, and set y

In [116]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

z = x.intersection(y)

print(z)

{'apple'}

Compare 3 sets, and return a set with items that is present in all 3 sets:

In [117]:
x = {"a", "b", "c"}
y = {"c", "d", "e"}
z = {"f", "g", "c"}

result = x.intersection(y, z)

print(result)

{'c'}

Remove the items that is not present in both x, and set y:

In [118]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

Return True if no items in set x is present in set y

In [119]:
x = {"apple", "banana", "cherry"}
y = {"guava", "mango", "apple"}

z = x.isdisjoint(y)

print(z)

False

In [120]:
a = {"apple", "banana", "cherry"}
b = {"guava", "mango", "watermelon"}

c = a.isdisjoint(b)

print(c)

True

Return True if all items set x are present in set y

In [121]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

In [122]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b"}

z = x.issubset(y)

print(z)

False

Return True if all items set y are present in set x:

In [123]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [124]:
x = {"f", "e", "d", "c", "b"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

False

Return a set that contains all items from both sets, except items that are present in both sets:

In [127]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'banana', 'cherry', 'microsoft', 'google'}

Question 4: Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no duplicates. 

Input Format: 

The first line contains n-1 numbers with each number separated by a space. 

Output Format: Print the missing number 

Example: Input:1 2 4 6 3 7 8 

Output:5 

Explanation: In the above list of numbers 5 is missing and hence 5 is the input

In [132]:
# User entering the values one by one separated with white space
inputString = input("Enter a list elements separated by space ")

# Converting user entered values in to integers list
userList = inputString.split()

intList = [ ]
for elem in userList:
    intList.append(int(elem))

# Forming sorted list from integers list
sortedInputValues=sorted(intList)

# Finding min and max values of the sorted list
maxOfsortedInputValues=max(sortedInputValues)
minOfsortedInputValues=min(sortedInputValues)

# Forming another range list contaiing all values starting from min value and ending at max value
rangeList=[ ]
for rangeValue in range(minOfsortedInputValues,maxOfsortedInputValues):
  rangeList.append(rangeValue)

# Comparing user values with range list of all values , then finding missing number
uncommon=set(rangeList).difference(sortedInputValues)
missNumber=list(uncommon)
print("The missing numbers are: ",*missNumber)

Enter a list elements separated by space 12 13 14 16 18
The missing numbers are:  17 15

Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order reserved. 

Example: If the input list is 12 24 35 24 88 120 155 88 120 155 

Then the output should be 12 24 35 88 120 155 

Explanation: 

Third, seventh and ninth element of the list L has been removed because it was already present. 

Input Format: In one line take the elements of the list L with each element separated by a space. 

Output Format: Print the elements of the modified list in one line with each element separated by a space. 

Example: 

Input: 12 24 35 24 

Output: 12 24 35 .

In [130]:
# User entering the values one by one separated with white space
inputString = input("Enter a list elements separated by space ")

# Converting user entered string values in to list
userList = inputString.split()

uniqueList = [ ] 	
# traversing for all elements of list
for elem in userList: 
# check if value x exists in uniqueList or not 
    if elem not in uniqueList: 
      uniqueList.append(elem)
print("The modified list with unique values is: " ,*uniqueList)

Enter a list elements separated by space 2 4 6 8 8 10
The modified list with unique values is:  2 4 6 8 10