In [119]:
%matplotlib inline
import pandas as pd

In [ ]:
from IPython.core.display import HTML
css = open('style-table.css').read() + open('style-notebook.css').read()
HTML('<style>{}</style>'.format(css))

FileNotFoundError: ignored

In [120]:
titles = pd.read_csv("https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-16%2C17/Assingment/Dataset%20for%20Pandas%20Assinment/titles.csv")

titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

In [122]:
import pandas as pd 
from pydrive.auth import GoogleAuth 
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

In [123]:
import logging
logging.getLogger('googleapiclient.discovery_cache').setLevel(logging.ERROR)

In [124]:
link = 'https://drive.google.com/file/d/1ViRDIGY69mK16bp2qUzBvm7-HYCZZF4R/view?usp=sharing'

import pandas as pd 

# to get the id part of the file 
id = link.split("/")[-2] 

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('cast.csv') 

castdf = pd.read_csv('cast.csv') 
print(castdf)

                                    title  year  ...                character     n
0                          Closet Monster  2015  ...                  Buffy 4  31.0
1                         Suuri illusioni  1985  ...                   Guests  22.0
2                     Battle of the Sexes  2017  ...          Bobby Riggs Fan  10.0
3                    Secret in Their Eyes  2015  ...          2002 Dodger Fan   NaN
4                              Steve Jobs  2015  ...  1988 Opera House Patron   NaN
...                                   ...   ...  ...                      ...   ...
3786171                           Foxtrot  1988  ...                     D?ra  24.0
3786172  Niceland (Population. 1.000.002)  2004  ...             Woman in Bus  26.0
3786173                         Skammdegi  1985  ...            Hj?krunarkona   9.0
3786174                      U.S.S.S.S...  2003  ...   Afgr.dama ? bens?nst??  17.0
3786175                 Bye Bye Blue Bird  1999  ...        Pensionatv?rtinde   NaN

[3786176 rows x 6 columns]

In [125]:
castdf.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [126]:
castdf.isna().sum()

title              0
year               0
name               0
type               0
character          0
n            1458573
dtype: int64

In [127]:
releasedf=pd.read_csv("https://raw.githubusercontent.com/RAGHUKALLI/upgrade/master/release_dates.csv")
releasedf

                          title  year      country        date
0         #73, Shaanthi Nivaasa  2007        India  2007-06-15
1                         #BKKY  2016     Cambodia  2017-10-12
2                       #Beings  2015      Romania  2015-01-29
3                     #Captured  2017          USA  2017-09-05
4        #Ewankosau saranghaeyo  2015  Philippines  2015-01-21
...                         ...   ...          ...         ...
479483  xXx: State of the Union  2005      Uruguay  2005-04-29
479484  xXx: State of the Union  2005       Poland  2005-06-03
479485  xXx: State of the Union  2005       Turkey  2005-06-03
479486  xXx: State of the Union  2005        China  2005-06-17
479487  xXx: State of the Union  2005       Greece  2005-06-24

[479488 rows x 4 columns]

In [128]:
titles.columns

Index(['title', 'year'], dtype='object')

In [129]:
titles.shape

(244914, 2)

In [130]:
titles.isna().sum()

title    0
year     0
dtype: int64

In [131]:
titles.describe

<bound method NDFrame.describe of                                       title  year
0                        Tasveer Mere Sanam  1996
1                                  Only You  1994
2                      El pueblo del terror  1970
3                                   Machine  2007
4                                      MARy  2008
...                                     ...   ...
244909  Black Butterfly in a Colorful World  2018
244910        Hua fei hua wu chun man cheng  1980
244911                 Nippon dabi katsukyu  1970
244912        Under Siege 2: Dark Territory  1995
244913            She Must Be Seeing Things  1987

[244914 rows x 2 columns]>

In [132]:
titles.duplicated().sum()

0

In [133]:
titles.dtypes

title    object
year      int64
dtype: object

### How many movies are listed in the titles dataframe?

In [139]:
titles.count()

title    244914
year     244914
dtype: int64

In [259]:
len(titles)

244914

### What are the earliest two films listed in the titles dataframe?

In [ ]:
titles.sort_values(["year"], axis=0,ascending=True, inplace=True)
titles.head(2)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

### How many movies have the title "Hamlet"?

In [ ]:
len(titles[titles.title=='Hamlet'])

20

### How many movies are titled "North by Northwest"?

In [ ]:
len(titles[titles.title=='North by Northwest'])

1

### When was the first movie titled "Hamlet" made?

In [ ]:
df5=titles.sort_values(['year','title'],ascending=True).groupby('title').head(1)
df5.loc[df5['title'] =='Hamlet']

        title  year
52521  Hamlet  1910

### List all of the "Treasure Island" movies from earliest to most recent.

In [ ]:
titles[titles.title=='Treasure Island'].sort_values('year')

                  title  year
55686   Treasure Island  1918
196514  Treasure Island  1920
141822  Treasure Island  1934
77354   Treasure Island  1950
65051   Treasure Island  1972
37238   Treasure Island  1973
173051  Treasure Island  1985
27076   Treasure Island  1999

### How many movies were made in the year 1950?

In [ ]:
len(titles[titles.year==1950])

1113

### How many movies were made in the year 1960?

In [ ]:
len(titles[titles.year==1960])

1549

### How many movies were made from 1950 through 1959?

In [209]:
titlesl=titles[titles['year'].between(1950,1959)]
titlesl.sort_values('year')

                            title  year
84160             Colorado Ranger  1950
47519            Maalesh ya zahar  1950
18855                Smelye lyudi  1950
235960      Streets of Ghost Town  1950
133183               Your Witness  1950
...                           ...   ...
220692                   The Trap  1959
190665  Third Man on the Mountain  1959
123470                       Kruh  1959
126748    Mis padres se divorcian  1959
187180           Kibris sehitleri  1959

[12934 rows x 2 columns]

In [206]:
len(titles[titles['year'].between(1950,1959)])

12934

### In what years has a movie titled "Batman" been released?

In [ ]:
titles[titles.title=='Batman']

         title  year
39349   Batman  1943
240896  Batman  1989

In [ ]:
titlesyr=titles[titles.title=='Batman']
list(titlesyr['year'])

[1943, 1989]

### How many roles were there in the movie "Inception"?

In [ ]:
len((castdf[castdf['title'].isin(['Inception'])]))

78

### How many roles in the movie "Inception" are NOT ranked by an "n" value?

In [ ]:
castdfin=((castdf[castdf['title'].isin(['Inception'])]))
castdfin['n'].isna().sum()

27

### But how many roles in the movie "Inception" did receive an "n" value?

In [ ]:
castdfin['n'].count()

51

### Display the cast of "North by Northwest" in their correct "n"-value order, ignoring roles that did not earn a numeric "n" value.

In [ ]:
castdfin1=((castdf[castdf['title'].isin(['North by Northwest'])]))
castdfin1[castdfin1.n.notna()].sort_values("n")

                      title  year  ...                    character     n
871426   North by Northwest  1959  ...           Roger O. Thornhill   1.0
3518333  North by Northwest  1959  ...                  Eve Kendall   2.0
1457165  North by Northwest  1959  ...              Phillip Vandamm   3.0
3157232  North by Northwest  1959  ...              Clara Thornhill   4.0
356707   North by Northwest  1959  ...                The Professor   5.0
3048272  North by Northwest  1959  ...                Mrs. Townsend   6.0
1695173  North by Northwest  1959  ...              Lester Townsend   7.0
1275337  North by Northwest  1959  ...                      Leonard   8.0
2447081  North by Northwest  1959  ...                     Valerian   9.0
1811387  North by Northwest  1959  ...              Victor Larrabee  10.0
665768   North by Northwest  1959  ...                        Licht  11.0
2295714  North by Northwest  1959  ...                   Auctioneer  12.0
464736   North by Northwest  1959  ...                    Dr. Cross  13.0
1508344  North by Northwest  1959  ...               Sergeant Flamm  14.0
206471   North by Northwest  1959  ...               Captain Junket  15.0
1384780  North by Northwest  1959  ...  Charley - Chicago Policeman  16.0

[16 rows x 6 columns]

### Display the entire cast, in "n"-order, of the 1972 film "Sleuth".

In [ ]:
castdfin3=((castdf[castdf['title'].isin(['Sleuth'])]))
castdfin4=((castdfin3[castdfin3['year'].isin([1972])]))
castdfin4.sort_values("n")

          title  year  ...                   character    n
1705394  Sleuth  1972  ...                 Andrew Wyke  1.0
326773   Sleuth  1972  ...                 Milo Tindle  2.0
373876   Sleuth  1972  ...           Inspector Doppler  3.0
1465483  Sleuth  1972  ...  Detective Sergeant Tarrant  4.0
2724553  Sleuth  1972  ...             Marguerite Wyke  5.0
1448690  Sleuth  1972  ...      Police Constable Higgs  6.0

[6 rows x 6 columns]

### Now display the entire cast, in "n"-order, of the 2007 version of "Sleuth".

In [144]:
castdfin5=((castdf[castdf['title'].isin(['Sleuth'])]))
castdfin6=((castdfin5[castdfin5['year'].isin([2007])]))
castdfin6.sort_values("n")

          title  year                 name     type          character    n
326774   Sleuth  2007        Michael Caine    actor             Andrew  1.0
1293634  Sleuth  2007             Jude Law    actor               Milo  2.0
1805907  Sleuth  2007        Harold Pinter    actor        Man on T.V.  3.0
260242   Sleuth  2007      Kenneth Branagh    actor  Other Man on T.V.  NaN
373877   Sleuth  2007  Alec (II) Cawthorne    actor  Inspector Doppler  NaN
2724552  Sleuth  2007    Eve (II) Channing  actress    Marguerite Wyke  NaN
3370424  Sleuth  2007    Carmel O'Sullivan  actress             Maggie  NaN

### How many roles were credited in the silent 1921 version of Hamlet?

In [153]:
castdfin7=(castdf[castdf['title'].isin(['Hamlet'])])
castdfin8=(castdfin7[castdfin7['year'].isin([1921])])
castdfin8

          title  year                    name     type         character    n
7789     Hamlet  1921        Fritz Achterberg    actor       Fortinbras,  9.0
458904   Hamlet  1921            Paul Conradi    actor      K?nig Hamlet  2.0
555034   Hamlet  1921        Anton De Verdier    actor           Laertes  7.0
1135279  Hamlet  1921         Hans Junkermann    actor          Polonius  6.0
2185558  Hamlet  1921            Heinz Stieda    actor           Horatio  5.0
2375993  Hamlet  1921  Eduard von Winterstein    actor          Claudius  4.0
2664423  Hamlet  1921         Mathilde Brandt  actress  K?nigin Gertrude  3.0
3062023  Hamlet  1921          Lilly Jacobson  actress           Ophelia  8.0
3355176  Hamlet  1921            Asta Nielsen  actress            Hamlet  1.0

In [148]:
len((castdfin8[castdfin8['title'].isin(['Hamlet'])]))

9

### How many roles were credited in Branagh’s 1996 Hamlet?

In [155]:
castdfin9=(castdf[castdf['title'].isin(['Hamlet'])])
castdfin10=(castdfin9[castdfin9['year'].isin([1996])])
castdfin10

          title  year  ...                 character     n
1731     Hamlet  1996  ...     Attendant to Claudius   1.0
95861    Hamlet  1996  ...        English Ambassador   2.0
158642   Hamlet  1996  ...        Second Gravedigger  37.0
214473   Hamlet  1996  ...     Attendant to Claudius   3.0
219554   Hamlet  1996  ...  Ghost of Hamlet's Father   4.0
250773   Hamlet  1996  ...             Cadet in Play   NaN
260225   Hamlet  1996  ...                    Hamlet   5.0
272749   Hamlet  1996  ...                  Polonius   6.0
294652   Hamlet  1996  ...                    Priest   7.0
319501   Hamlet  1996  ...     Attendant to Claudius   8.0
344365   Hamlet  1996  ...               Laertes Mob   NaN
500916   Hamlet  1996  ...         First Gravedigger  10.0
518572   Hamlet  1996  ...             Stage Manager  11.0
576147   Hamlet  1996  ...                  Reynaldo  13.0
598618   Hamlet  1996  ...              Guildenstern  14.0
604339   Hamlet  1996  ...                    Yorick  15.0
656817   Hamlet  1996  ...                  Lucianus  17.0
669232   Hamlet  1996  ...            Old Fortinbras   NaN
704270   Hamlet  1996  ...                   Horatio  18.0
708468   Hamlet  1996  ...                 Francisco  19.0
827066   Hamlet  1996  ...                     Priam  21.0
990819   Hamlet  1996  ...               Player King  23.0
1074691  Hamlet  1996  ...                 Cornelius  24.0
1082161  Hamlet  1996  ...                  Claudius  25.0
1210509  Hamlet  1996  ...      Fortinbras's Captain  27.0
1316617  Hamlet  1996  ...                 Marcellus  29.0
1400732  Hamlet  1996  ...         Elsinore Courtier   NaN
1417360  Hamlet  1996  ...                   Laertes  31.0
1489191  Hamlet  1996  ...                  Barnardo  30.0
1549128  Hamlet  1996  ...                Old Norway  33.0
1556082  Hamlet  1996  ...                Sailor Two  34.0
1588218  Hamlet  1996  ...                   Pyrrhus   NaN
2040040  Hamlet  1996  ...                Young Lord  38.0
2052796  Hamlet  1996  ...                   Boatman   NaN
2067657  Hamlet  1996  ...                Fortinbras  39.0
2151526  Hamlet  1996  ...               Rosencrantz  40.0
2154960  Hamlet  1996  ...      Fortinbras's Captain  32.0
2221910  Hamlet  1996  ...              Young Hamlet  41.0
2259675  Hamlet  1996  ...              First Player  42.0
2404091  Hamlet  1996  ...                 Voltimand  43.0
2453099  Hamlet  1996  ...                     Osric  45.0
2500066  Hamlet  1996  ...                Sailor One  47.0
2508377  Hamlet  1996  ...                 Alexander   NaN
2737885  Hamlet  1996  ...                  Gertrude   9.0
2814220  Hamlet  1996  ...                    Hecuba  12.0
2835947  Hamlet  1996  ...     Attendant to Gertrude  16.0
2940033  Hamlet  1996  ...                    Doctor  20.0
2999610  Hamlet  1996  ...              Player Queen  22.0
3119901  Hamlet  1996  ...     Attendant to Gertrude  26.0
3154270  Hamlet  1996  ...     Attendant to Gertrude  28.0
3451003  Hamlet  1996  ...                  Prologue  35.0
3456114  Hamlet  1996  ...                Prostitute   NaN
3728751  Hamlet  1996  ...             Second Player  44.0
3751232  Hamlet  1996  ...                   Ophelia  46.0

[54 rows x 6 columns]

In [156]:
len((castdfin10[castdfin10['title'].isin(['Hamlet'])]))

54

### How many "Hamlet" roles have been listed in all film credits through history?

In [163]:
castdf11=castdf[castdf['title'].isin(['Hamlet'])]
len(castdf11.character.unique())

112

### How many people have played an "Ophelia"?

In [166]:
castdf13=castdf[castdf['character'].isin(['Ophelia'])]
castdf13

                                                     title  ...     n
248251                          The Merry Maids of Madness  ...  11.0
410247                                      Jake Gets Paid  ...   NaN
470859                                          Inoperable  ...   NaN
866334                     Dogg's Hamlet, Cahoot's Macbeth  ...   NaN
1364457                                                 11  ...   NaN
...                                                    ...  ...   ...
3722298                                           D.C. Cab  ...   7.0
3723039                                           Creature  ...  12.0
3733637                                             Hamlet  ...   7.0
3748118  National Theatre Live: Rosencrantz & Guildenst...  ...   NaN
3751232                                             Hamlet  ...  46.0

[117 rows x 6 columns]

In [167]:
len(castdf13.name.unique())

115

### How many people have played a role called "The Dude"?

In [168]:
castdf14=castdf[castdf['character'].isin(['The Dude'])]
castdf14

                                  title  year  ... character     n
272161                 The Big Lebowski  1998  ...  The Dude   1.0
339389               Terms & Conditions  2015  ...  The Dude   9.0
498660                         Stranger  2000  ...  The Dude   NaN
570128           Pizza Man vs. the Dude  2004  ...  The Dude   NaN
610791                      Sweepstakes  1931  ...  The Dude  12.0
629473                    Self Helpless  2010  ...  The Dude   NaN
855976                A Few Brains More  2012  ...  The Dude   NaN
1089444  Jay and Silent Bob Strike Back  2001  ...  The Dude  37.0
1138933                   Explicit Ills  2008  ...  The Dude  27.0
1367230                 American Idiots  2013  ...  The Dude  10.0
1386561             The Winds of Autumn  1976  ...  The Dude  30.0
1512572                         The Liq  2016  ...  The Dude   NaN
1540933                  Wild Oats Lane  1926  ...  The Dude   6.0
1784519               Oklahoma Badlands  1948  ...  The Dude  13.0
1824744            Cloud Air: The Movie  2013  ...  The Dude   8.0
1838960                           Hacks  1997  ...  The Dude  11.0
2202150         Carlos Spills the Beans  2013  ...  The Dude   NaN
2336261                       Zachariah  1971  ...  The Dude   9.0
2419271              It Can Be Arranged  2010  ...  The Dude   NaN

[19 rows x 6 columns]

In [169]:
len(castdf14.name.unique())

19

### How many people have played a role called "The Stranger"?

In [171]:
castdf15=castdf[castdf['character'].isin(['The Stranger'])]
castdf15

                            title  year  ...     character    n
25954                       Theeb  2014  ...  The Stranger  2.0
35748              My Time to Die  2014  ...  The Stranger  2.0
46418                      Hickok  2017  ...  The Stranger  NaN
67421                    Get Mean  1975  ...  The Stranger  1.0
67424    Lo straniero di silenzio  1968  ...  The Stranger  1.0
...                           ...   ...  ...           ...  ...
3219011            Ever Since Eve  1921  ...  The Stranger  7.0
3405700              Weitertanzen  2008  ...  The Stranger  NaN
3427715               The Godsend  1980  ...  The Stranger  3.0
3567516                Motherland  1927  ...  The Stranger  NaN
3746949               The Seventh  2017  ...  The Stranger  NaN

[212 rows x 6 columns]

In [172]:
len(castdf15.name.unique())

202

### How many roles has Sidney Poitier played throughout his career?

In [173]:
castdf16=castdf[castdf['name'].isin(['Sidney Poitier'])]
castdf16

                                title  ...     n
1816209               A Patch of Blue  ...   1.0
1816210         A Piece of the Action  ...   1.0
1816211           A Raisin in the Sun  ...   1.0
1816212               A Warm December  ...   1.0
1816213             All the Young Men  ...   2.0
1816214                Band of Angels  ...   3.0
1816215             Blackboard Jungle  ...  10.0
1816216                  Brother John  ...   1.0
1816217         Buck and the Preacher  ...   1.0
1816218      Cry, the Beloved Country  ...   3.0
1816219                Duel at Diablo  ...   2.0
1816220              Edge of the City  ...   2.0
1816221               For Love of Ivy  ...   1.0
1816222                     Go Man Go  ...   3.0
1816223             Good-bye, My Lady  ...   4.0
1816224  Guess Who's Coming to Dinner  ...   2.0
1816225      In the Heat of the Night  ...   1.0
1816226             Let's Do It Again  ...   1.0
1816227           Lilies of the Field  ...   1.0
1816228                 Little Nikita  ...   1.0
1816229                    No Way Out  ...   4.0
1816230                   Paris Blues  ...   3.0
1816231                Porgy and Bess  ...   1.0
1816232                Pressure Point  ...   1.0
1816233              Red Ball Express  ...   5.0
1816234              Sepia Cinderella  ...   NaN
1816235                 Shoot to Kill  ...   1.0
1816236                      Sneakers  ...   4.0
1816237            Something of Value  ...  13.0
1816238          The Bedford Incident  ...   2.0
1816239              The Defiant Ones  ...   2.0
1816240  The Greatest Story Ever Told  ...  21.0
1816241                    The Jackal  ...   3.0
1816242                The Long Ships  ...   2.0
1816243                  The Lost Man  ...   1.0
1816244          The Mark of the Hawk  ...   2.0
1816245              The Organization  ...   1.0
1816246            The Slender Thread  ...   1.0
1816247          The Wilby Conspiracy  ...   1.0
1816248    They Call Me Mister Tibbs!  ...   1.0
1816249             To Sir, with Love  ...   1.0
1816250         Uptown Saturday Night  ...   1.0
1816251                 Virgin Island  ...   3.0

[43 rows x 6 columns]

In [176]:
len(castdf16)

43

In [175]:
len(castdf16.character.unique())

41

### How many roles has Judi Dench played?

In [177]:
castdf17=castdf[castdf['name'].isin(['Judi Dench'])]
castdf17

                                               title  ...     n
2814206                        84 Charing Cross Road  ...   3.0
2814207                            A Handful of Dust  ...  13.0
2814208                    A Midsummer Night's Dream  ...  16.0
2814209                           A Room with a View  ...   7.0
2814210                            A Study in Terror  ...   8.0
2814211       Angelina Ballerina: Angelina Sets Sail  ...   2.0
2814212      Branagh Theatre Live: The Winter's Tale  ...   NaN
2814213                                Casino Royale  ...   4.0
2814214                                     Chocolat  ...  18.0
2814215                                    Dead Cert  ...   2.0
2814216                              Die Another Day  ...   6.0
2814217                                       Doogal  ...   7.0
2814218                          Four in the Morning  ...   2.0
2814219                                    GoldenEye  ...   6.0
2814220                                       Hamlet  ...  12.0
2814221                         He Who Rides a Tiger  ...   2.0
2814222                                      Henry V  ...  26.0
2814223                            Home on the Range  ...   7.0
2814224                                         Iris  ...   3.0
2814225                                     J. Edgar  ...  13.0
2814226                                 Jack & Sarah  ...   3.0
2814227                                    Jane Eyre  ...  18.0
2814228                           Ladies in Lavender  ...   1.0
2814229                                       Luther  ...   7.0
2814230  Miss Peregrine's Home for Peculiar Children  ...   4.0
2814231                                    Mrs Brown  ...   1.0
2814232                       Mrs Henderson Presents  ...   1.0
2814233                 Murder on the Orient Express  ...  39.0
2814234                         My Week with Marilyn  ...  23.0
2814235                                         Nine  ...   6.0
2814236                           Notes on a Scandal  ...   1.0
2814237                                    Philomena  ...   1.0
2814238  Pirates of the Caribbean: On Stranger Tides  ...  16.0
2814239                            Pride & Prejudice  ...  20.0
2814240                            Quantum of Solace  ...   4.0
2814241                                         Rage  ...   NaN
2814242                                     Red Joan  ...   NaN
2814243                            Run for Your Wife  ...  40.0
2814244                          Shakespeare in Love  ...  12.0
2814245                                      Skyfall  ...   2.0
2814246                                      Spectre  ...   NaN
2814247                              Stars in Shorts  ...  29.0
2814248                           Tea with Mussolini  ...   2.0
2814249                     The Angelic Conversation  ...   3.0
2814250               The Best Exotic Marigold Hotel  ...   1.0
2814251                    The Chronicles of Riddick  ...   4.0
2814252              The Importance of Being Earnest  ...   5.0
2814253        The Second Best Exotic Marigold Hotel  ...   5.0
2814254                            The Shipping News  ...   3.0
2814255                             The Third Secret  ...  12.0
2814256                      The World Is Not Enough  ...   6.0
2814257                          Tomorrow Never Dies  ...   9.0
2814258                                  Tulip Fever  ...  11.0
2814259                             Victoria & Abdul  ...   1.0
2814260                                     Wetherby  ...   3.0

[55 rows x 6 columns]

In [178]:
len(castdf17)

55

In [180]:
len(castdf17.character.unique())

46

### List the supporting roles (having n=2) played by Cary Grant in the 1940s, in order by year.

In [202]:
castdf18=castdf[castdf['name'].isin(['Cary Grant'])]
castdf19=castdf18[castdf18['year'].between(1940,1949)]
castdf19.sort_values('year')

                                       title  ...    n
871450                The Philadelphia Story  ...  1.0
871448               The Howards of Virginia  ...  1.0
871407                       His Girl Friday  ...  1.0
871423                      My Favorite Wife  ...  2.0
871438                             Suspicion  ...  1.0
871433                        Penny Serenade  ...  2.0
871452                  The Talk of the Town  ...  1.0
871429                 Once Upon a Honeymoon  ...  1.0
871398                     Destination Tokyo  ...  1.0
871422                             Mr. Lucky  ...  1.0
871390                  Arsenic and Old Lace  ...  1.0
871430                      Once Upon a Time  ...  1.0
871425             None But the Lonely Heart  ...  1.0
871405               George White's Scandals  ...  NaN
871424                         Night and Day  ...  1.0
871427                             Notorious  ...  1.0
871466                  Without Reservations  ...  NaN
871444      The Bachelor and the Bobby-Soxer  ...  1.0
871445                     The Bishop's Wife  ...  1.0
871421  Mr. Blandings Builds His Dream House  ...  1.0
871402          Every Girl Should Be Married  ...  1.0
871411                I Was a Male War Bride  ...  1.0

[22 rows x 6 columns]

In [199]:
castdf18=castdf[castdf['name'].isin(['Cary Grant'])]
castdf19=castdf18[castdf18['year'].between(1940,1949)]
castdf19[castdf19['n'].isin([2])].sort_values('n')

                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

### List the leading roles that Cary Grant played in the 1940s in order by year.

In [211]:
castdf19[castdf19['n'].isin([1])].sort_values('year')

                                       title  ...    n
871448               The Howards of Virginia  ...  1.0
871407                       His Girl Friday  ...  1.0
871450                The Philadelphia Story  ...  1.0
871438                             Suspicion  ...  1.0
871452                  The Talk of the Town  ...  1.0
871429                 Once Upon a Honeymoon  ...  1.0
871398                     Destination Tokyo  ...  1.0
871422                             Mr. Lucky  ...  1.0
871430                      Once Upon a Time  ...  1.0
871390                  Arsenic and Old Lace  ...  1.0
871425             None But the Lonely Heart  ...  1.0
871424                         Night and Day  ...  1.0
871427                             Notorious  ...  1.0
871444      The Bachelor and the Bobby-Soxer  ...  1.0
871445                     The Bishop's Wife  ...  1.0
871421  Mr. Blandings Builds His Dream House  ...  1.0
871402          Every Girl Should Be Married  ...  1.0
871411                I Was a Male War Bride  ...  1.0

[18 rows x 6 columns]

### How many roles were available for actors in the 1950s?

In [215]:
castdf20=castdf[castdf['year'].isin([1950])]
castdf21=castdf20[castdf20['type'].isin(['actor'])]
castdf21

                             title  year  ...         character     n
288               Palletoori Pilla  1950  ...     Kampanna Dora   4.0
465                   Hallin Janne  1950  ...             Rosvo   NaN
466                   Hallin Janne  1950  ...           Vartija   NaN
1564     Bomba and the Hidden City  1950  ...          Villager   NaN
1572     Fortunes of Captain Blood  1950  ...       Crew Member   NaN
...                            ...   ...  ...               ...   ...
2531736           Restaurant Intim  1950  ...              Cook   NaN
2531771            Den vita katten  1950  ...  Ticket Collector  15.0
2531773       Flicka och hyacinter  1950  ...     Viktor Ekberg   NaN
2531777         Medan staden sover  1950  ...         Andersson   NaN
2531779           Restaurant Intim  1950  ...   Manager Nessing  15.0

[16760 rows x 6 columns]

In [216]:
len(castdf21.character)

16760

### How many roles were available for actresses in the 1950s?

In [220]:
castdf22=castdf[castdf['year'].isin([1950])]
castdf23=castdf22[castdf22['type'].isin(['actress'])]
castdf23

                           title  year  ...                          character    n
2532684   A Woman of Distinction  1950  ...                     Apache Dancers  NaN
2532686          Chain Lightning  1950  ...                     Apache Dancers  NaN
2533554        A Life of Her Own  1950  ...                              Model  NaN
2533558       Annie Get Your Gun  1950  ...                     Carriage Woman  NaN
2533561            Copper Canyon  1950  ...                           Showgirl  NaN
...                          ...   ...  ...                                ...  ...
3785342             Quinto patio  1950  ...  Do?a Blanquita Z??iga de Vallarta  5.0
3785585                 Fukkatsu  1950  ...                     Nagisa Fujioka  5.0
3785587  Harukanari haha no kuni  1950  ...                    May Takebayashi  NaN
3785752     Anderssonskans Kalle  1950  ...                Summer Camp Manager  NaN
3786094       Akdeniz korsanlari  1950  ...                              Maria  2.0

[5637 rows x 6 columns]

In [221]:
len(castdf23.character)

5637

### How many leading roles (n=1) were available from the beginning of film history through 1980?

In [244]:
castdf23=castdf.sort_values("year").head(1)
castdfbeg=int(castdf23.year) # beginning year of film in the dataset
castdf24=castdf[castdf['year'].between(castdfbeg,1980)]
len(castdf24[castdf24['n'].isin([1])])

65140

### How many non-leading roles were available through from the beginning of film history through 1980?

In [251]:
len(castdf24[castdf24['n']>1])

669320

### How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank?

In [257]:
len(castdf24[castdf24['n'].isna()])

448347