In [2]:
import pandas as pd  
import numpy as np
from sklearn import tree  
from sklearn import preprocessing
import os

In [3]:
# Reading the data files
url1='https://raw.githubusercontent.com/LetsUpgrade/AI-ML-July-2020/master/Day-7/Assignment/general_data.csv'
datasetatr=pd.read_csv(url1,error_bad_lines=False)

In [5]:
datasetatr.head()

   Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0   51        No  ...                       0                    0
1   31       Yes  ...                       1                    4
2   32        No  ...                       0                    3
3   38        No  ...                       7                    5
4   32        No  ...                       0                    4

[5 rows x 24 columns]

In [6]:
datasetatr.isna().sum()

Age                         0
Attrition                   0
BusinessTravel              0
Department                  0
DistanceFromHome            0
Education                   0
EducationField              0
EmployeeCount               0
EmployeeID                  0
Gender                      0
JobLevel                    0
JobRole                     0
MaritalStatus               0
MonthlyIncome               0
NumCompaniesWorked         19
Over18                      0
PercentSalaryHike           0
StandardHours               0
StockOptionLevel            0
TotalWorkingYears           9
TrainingTimesLastYear       0
YearsAtCompany              0
YearsSinceLastPromotion     0
YearsWithCurrManager        0
dtype: int64

In [7]:
datasetatr['NumCompaniesWorked'].mean()

2.6948303347756775

In [8]:
datasetatr['TotalWorkingYears'].mean()

11.279936378095888

In [9]:
new_NumCompaniesWorked=np.where(datasetatr["NumCompaniesWorked"].isnull(),2.69,datasetatr["NumCompaniesWorked"])

In [10]:
new_TotalWorkingYears=np.where(datasetatr["TotalWorkingYears"].isnull(),11.28,datasetatr["TotalWorkingYears"])

In [11]:
datasetatr["NumCompaniesWorked"]=new_NumCompaniesWorked
datasetatr["TotalWorkingYears"]=new_TotalWorkingYears

In [12]:
datasetatr.drop(['Over18','StandardHours','EmployeeCount'],axis=1)

      Age Attrition  ... YearsSinceLastPromotion YearsWithCurrManager
0      51        No  ...                       0                    0
1      31       Yes  ...                       1                    4
2      32        No  ...                       0                    3
3      38        No  ...                       7                    5
4      32        No  ...                       0                    4
...   ...       ...  ...                     ...                  ...
4405   42        No  ...                       0                    2
4406   29        No  ...                       0                    2
4407   25        No  ...                       1                    2
4408   42        No  ...                       7                    8
4409   40        No  ...                       3                    9

[4410 rows x 21 columns]

In [44]:
datasetatr.columns

Index(['Age', 'Attrition', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education', 'EducationField', 'EmployeeCount', 'EmployeeID', 'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome',
       'NumCompaniesWorked', 'Over18', 'PercentSalaryHike', 'StandardHours',
       'StockOptionLevel', 'TotalWorkingYears', 'TrainingTimesLastYear',
       'YearsAtCompany', 'YearsSinceLastPromotion', 'YearsWithCurrManager'],
      dtype='object')

In [13]:
label_encoder=preprocessing.LabelEncoder()

In [25]:
encode_Attrition=label_encoder.fit_transform(datasetatr["Attrition"])

In [26]:
encode_MaritalStatus=label_encoder.fit_transform(datasetatr["MaritalStatus"])

In [27]:
encode_Department=label_encoder.fit_transform(datasetatr["Department"])

In [28]:
encode_EducationField=label_encoder.fit_transform(datasetatr["EducationField"])

In [29]:
encode_Gender=label_encoder.fit_transform(datasetatr["Gender"])

In [30]:
encode_JobRole=label_encoder.fit_transform(datasetatr["JobRole"])

In [36]:
encode_BusinessTravel=label_encoder.fit_transform(datasetatr["BusinessTravel"])

In [31]:
tree_model=tree.DecisionTreeClassifier()

In [118]:
from sklearn.tree import export_graphviz

In [54]:
predictors=pd.DataFrame([encode_MaritalStatus,encode_Department,encode_EducationField,encode_Gender,encode_JobRole,encode_BusinessTravel,datasetatr["DistanceFromHome"],datasetatr["Education"],datasetatr["MonthlyIncome"],datasetatr["JobLevel"],datasetatr["Age"]]).T

In [56]:
tree_model=tree.DecisionTreeClassifier(max_depth=20)

In [57]:
tree_model.fit(X=predictors,y=datasetatr["Attrition"])

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=20, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [58]:
with open ("Dtree2.dot",'w') as f:
  f=tree.export_graphviz(tree_model,feature_names=['Age', 'BusinessTravel', 'Department', 'DistanceFromHome',
       'Education','EducationLevel',   'Gender',
       'JobLevel', 'JobRole', 'MaritalStatus', 'MonthlyIncome'],out_file=f);

In [ ]:
# r = open("Dtree2.dot", "r")
# print(r.read())